<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HorrorTracker" connectionString="Host=localhost;Username=postgres;Password=Finn2019!;Database=HorrorTracker;Include Error Detail=true"/>
	</connectionStrings>
	<appSettings>
		<add key="HorrorThemeSongs" value="C:\Users\mckin\Documents\Visual Studio 2022\Projects\HorrorTracker\HorrorTracker.Data\Audio\Songs\"/>
		<add key="LoggerUrl" value="http://localhost:5341"/>
	</appSettings>
</configuration>