<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HorrorTracker" connectionString="Host=localhost;Username=postgres;Password=Finn2019!;Database=HorrorTracker"/>
	</connectionStrings>
	<appSettings>
		<add key="TMDBKey" value="your-expected-api-key"/>
		<add key="LoggerUrl" value="http://localhost:5341"/>
	</appSettings>
</configuration>