<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HorrorTracker" connectionString="Host=localhost;Username=postgres;Password=Finn2019!;Database=HorrorTracker"/>
	</connectionStrings>
	<appSettings>
		<add key="TMDBKey" value="556373b84f620d6fdcc5e809a5adc29e"/>
	</appSettings>
</configuration>