<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LoggerUrl" value="http://localhost:5341"/>
		<add key="LogTextFileLocation" value="C:\Users\mckin\OneDrive\Desktop\HorrorVerseLogs"/>
	</appSettings>
	<connectionStrings>
		<!-- Update these values with your PostgreSQL credentials -->
		<add name="HorrorTrackerConnection"
			 connectionString="Host=localhost;Username=postgres;Password=Finn2019!;Database=HorrorTracker;Include Error Detail=true;Pooling=true;Minimum Pool Size=1;Maximum Pool Size=20"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>